img{
    height: 75px;
    width: 75px;
}
li{
    list-style: none;
}
ul{
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #e5e7eb;
    gap: 75px;
    justify-content: flex-end;
    padding: 20px;
 
}
a{
    text-decoration: none;
    color: inherit;
}

body{
margin: 0;
padding: 0;
position: relative;



}
.container1{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.container2{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    
}
.container3{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px;
    background-color: #e5e7eb;
    font-size: 36px;

}
.container4{
    display: flex;
    justify-content: center;
    padding: 30px;
}
.text1{
    font-size: 48px;
    color: #e5e7eb;
    margin: 0;
    
    
}
.mid{
    background: #1f2937;
    display: flex;
    justify-content:center;
    gap: 50px;
    align-items: center;
    padding-bottom: 50px;
    flex-wrap: wrap;
}

/* this is image*/
.done{
    width:300px;
    height: auto;
    border-radius: 20px;
    
    
}
.text2{
    margin: 10px;
    width: 350px;
    color: #e5e7eb;
    font-size: 18px;
    padding-bottom: 10px;

}
button{
    background-color: #3882f6;
    border-radius: 10px;
    color: #e5e7eb;
    height: 30px;
    width: 120px;
   
    
}
.text3{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
}

.text4{
 width: 250px;
 color: #1f2937;
 font-style: italic;
 font-weight: lighter;

}
.char{
    width: 150px;
    height: 150px;
    border-radius: 15%;
}
.centre{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #3882f6;
    border-radius: 12px;
    padding: 20px;
    color: #eee;
}
.footer{
    text-align: center;
    background-color: #1f2937;
    padding: 20px;
    color: #e5e7eb;
}
